@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans+Semi+Condensed:ital,wght@0,1..1000;1,1..1000&display=swap');

*{
    margin: 0;
    padding:0;
}

body {
    font-family: sans-serif;
    font-weight: 400;
    color: #1e1f20;
}

a {
    text-decoration: none;
}
img {
    max-width: 100%;
}

.wrapper {
    background: linear-gradient(360deg,rgb(255, 255, 255) 0%, rgb(221, 224, 230) 100%);
    width:100% ;

}


.container {
    min-width: auto;
    width: 90%;
    margin: 0 auto;
}

header {
    padding: 0px 0;
}


header nav {
    width: 100%;

}

header nav ul {
    display:flex;
    justify-content:center;
    z-index: 2;
    position: relative
}

header nav ul h1 {
    display: block;
    width: 50px;
}
header nav ul h2 {
    display: block;
    width: 95px;
    max-height: 0px;
}

header nav ul li {
    display: inline-block;
    font-weight: 600;
    padding-top: 20px;
    font-size: 120%;
    white-space: nowrap;


}


header nav ul li a {
    color: #dee3e8;
    text-align: center;
}

header nav ul li:not(.active):not(.btn) a:hover {
    border-bottom: 5px solid #1D4D7A;
}

header nav ul li.btn a {
    background-color: #1D4D7A;
    padding: 9px 17px;
    border-radius: 5px;
    transition: all 400ms ease;

}
header nav ul li.btn a:hover {
    background: #11273a;
}

header nav  {
    content: '';
    display: block;
    width: auto;
    background:#2d2b33 ;
    border-radius: 10px;
    position: relative;
    top: 10px;
    block-size: 60px; 
}
h1 {
    padding-bottom: 10px;
}
h4 {
    padding-bottom: 100px;
}






.hero00 {
    width: 100%;
    left: auto;
    top: 400px;
    position:absolute;
    margin: 0 auto;

}
.hero00--info h2 {
    text-align: center;
    font-size: 80px;
    font-weight: 600;
    white-space: nowrap;

}
.hero1 {
    width: 100%;
    left: auto;
    top: 720px;
    position:absolute;
    margin: 0 auto;
    padding-bottom: 400px;
}
.hero2 {
    width: 100%;
    left: auto;
    top: 1220px;
    position:absolute;
    margin: 0 auto;
    padding-bottom: 400px;
}
.hero1--info {
    background-color: #b9c0c5;
    margin-left: 300px;
    margin-right: 300px;
    padding-block: 40px;
    border: 10px solid #2d2b33;
}
.hero1--info h2 {
    text-align: center;
    font-size: 40px;
    font-weight: 320px;
    white-space: nowrap;
    text-decoration: underline;
    background-color: #a7b0b7;
    padding-block: 10px;
}
.hero1--info h1 {
    padding-top: 10px;
    text-align: center;
    font-size: 20px;
    font-weight: 80px;
    white-space: nowrap;
}
.hero1--info h3 {
    background-color: #292929;
    margin-top: 60px;
    text-align: center;
    font-size: 30px;
    font-weight: 20px;
    white-space: nowrap;
    color: #1275c5;
    padding-block: 10px;
}
.hero1--info h6 {
    padding-top: 20px;
    text-align: center;
    font-size: 30px;
    font-weight: 20px;
    white-space: nowrap;
}
.hero1--info h5 {
    padding-top: 20px;
    text-align: center;
    font-size: 30px;
    font-weight: 20px;
    white-space: nowrap;
}
.hero1--info h4 {
    position: absolute;
    left:900px;
    top:270px;
    font-size: 30px;
    font-weight: 20px;
    white-space: nowrap;
    color: #1275c5;
}