@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans+Semi+Condensed:ital,wght@0,1..1000;1,1..1000&display=swap');

*{
    margin: 0;
    padding:0;
}

body {
    font-family: sans-serif;
    font-weight: 400;
    color: #1e1f20;
}

a {
    text-decoration: none;
}
img {
    max-width: 100%;
}

.wrapper {
    background: linear-gradient(360deg,rgb(255, 255, 255) 0%, rgb(221, 224, 230) 100%);
    width:100% ;

}


.container {
    min-width: auto;
    width: 90%;
    margin: 0 auto;
}

header {
    padding: 0px 0;
}


header nav {
    width: 100%;

}

header nav ul {
    display:flex;
    justify-content:center;
    z-index: 2;
    position: relative
}

header nav ul h1 {
    display: block;
    width: 50px;
}
header nav ul h2 {
    display: block;
    width: 95px;
}

header nav ul li {
    display: inline-block;
    font-weight: 600;
    padding-top: 20px;
    font-size: 120%;
    white-space: nowrap;


}


header nav ul li a {
    color: #dee3e8;
    text-align: center;
}

header nav ul li:not(.active):not(.btn) a:hover {
    border-bottom: 5px solid #1D4D7A;
}

header nav ul li.btn a {
    background-color: #1D4D7A;
    padding: 9px 17px;
    border-radius: 5px;
    transition: all 400ms ease;

}
header nav ul li.btn a:hover {
    background: #11273a;
}

header nav  {
    content: '';
    display: block;
    width: auto;
    background:#2d2b33 ;
    border-radius: 10px;
    position: relative;
    top: 10px;
    block-size: 60px; 
}
h1 {
    padding-bottom: 10px;
}





.hero {
padding-bottom: 1000px;
position:relative;
z-index: 1;
list-style-type: none;
}
.hero--info {
    width: auto;;
    padding-top: 80px;
}

.hero--info h2 {
    font-size: 75px;
    font-family: cursive;
    white-space: nowrap;
    font-weight: 1000;
    padding-top: 20px;
    white-space: nowrap;
    text-align: center;

}

.hero--info h1 {
    font-size: 40px;
    font-weight: 550;
    padding-top: 60px;
    white-space: nowrap;
    text-align: center;
}

.hero--info p {
    font-size: 25px;
    font-weight: 550;
    padding-top: 5px;
    padding-bottom: 5%;
    white-space: nowrap;
    text-align: center;

}



.hero h3 {
    display: block;
    content: '';
    background:#2d2b33;
    border-radius: 15px;
    block-size: 10px;
    

}


.hero img {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 840px;
    width: 300px;
    border-radius: 10px;
    display: block;
    border: 10px solid #2d2b33;
}

.hero li a {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 970px;
    width: 300px;
    border-radius: 5px;
    background: #2d2b33;
    color:#dee3e8;
    padding:10px;
    font-size: 20px;
    text-align: center;
    white-space: nowrap;
    

}

.hero h4 {
    font-size: 45px;
    font-weight: 550;
    font-family: cursive;
    padding-top: 150px;
    white-space: nowrap;
    text-align: center;
    white-space: nowrap;
    

}

.Id_0 h5 {
    text-align: center;
    font-size: 35px;
    font-weight: 580;
    font-family: cursive;
    padding-top: 150px;
    white-space: nowrap;

}

.Id_0 h6 {
    text-align: center;
    font-size: 25px;
    font-weight: 500;
    padding-top: 5px;
    font-family: cursive;
    white-space: nowrap;
}

.Id_0 textarea {
    padding-left: 4px;
    text-align: justify;
    width: 300px;
    position:absolute;
    top:300px;
    left: 50%;
    font-size: 9px;
    padding-top: 20px;
    border-color: #1e1f20;
    outline: none;
    padding-left: 10px;
    padding-right: 10px;
    color:#1e1f20;
    white-space: nowrap;
    transform: translate(-50%);
}
.Id_1 h1 {
    padding-top:250px;
    
}